extends ../layouts/default
block content
  #mainSidebar.sidebar.sidebar-left(toggleable='toggleable', parent-active-class='sidebar-left-in', ng-controller="SidebarCtrl")
    h1.app-name Обычный стартап
    .scrollable
      .scrollable-content
        div(data-users-list-directive,data-items="GeneralData.usersList")
  .app
    .navbar.navbar-app.navbar-absolute-top
      .pull-left.lay-top-menu-avatar
        img.img-responsive.img-rounded(alt='140x140', src='/img/rabit.png')
      .pull-left.lh-50.ml-5.top-menu-player-name(data-ng-bind="user.name")
        | 
      .pull-left.lh-50.ml-5
        img(src='/img/coin.png', style='max-height: 30px;')
        span.top-menu-base-money
          | 5
        span.money-color
          | +2
      .pull-right
        a.btn.btn-default(data-ng-click='toggle(\'mainSidebar\');')
          i.fa.fa-bars
    .navbar.navbar-app.navbar-absolute-bottom
      .container-fluid
        .row
          .col-xs-3.lay-bottom-menu-btn
            a(href="#/view1")
              i.fa.fa-tasks
          .col-xs-3.lay-bottom-menu-btn
            a(href="#/view2")
              i.fa.fa-users
          .col-xs-3.lay-bottom-menu-btn
            a(href="#/view3")
              i.fa.fa-folder-open
          .col-xs-3.lay-bottom-menu-btn
            a.completeStepArrow(href="#")
              i.fa.fa-arrow-right
    .app-body
      .app-content(ng-view)
