<!-- <div class="dx-widget dx-feedback dx-button dx-button-normal">
	<div class="dx-button-content">
	<span class="dx-button-text">Round Up</span>
	</div>
</div> -->

<div data-ng-init="actions.init()" class="h100">
	<div project-list-directive data-items="GeneralData.projectList" class="h100"></div>
</div>

<div overlay="terribleOverlay">
  <h3 class="overlay-title">МАСКИ ШОУ!</h3>
  <div style="text-align:center;">
  	<img src="/img/256x256/cat_fish.png" alt="" style="max-height:180px;">
  	<p style="text-align:center;">
		Люди в масках с калашами на перевес ворвались в ваш офис. Опечатано всё оборудование. А лично вас больно уронили об стол.
  	</p>
  </div>
  <p toggle="off" bubble target="terribleOverlay">
    <span class="btn btn-primary">Ok</span>
    <span class="btn btn-default">Cancel</span>
  </p>
</div>