<div class="h100">
	<div class="h100">
			<div class="">
			  	<div class="projectItem">
					<div class="row">
						<div class="col-xs-12">
							<div class="alex-worker-cell alex-worker-cell-bg_type_3 text-center">МЕНЕДЖЕР</div>
							<div class="projectHeader clearfix row">
								<div class="col-xs-5">
									<img src="/img/256x256/cat_vote.png">
								</div>
								<div class="col-xs-7">
									<div class="projectHeaderTitle">Бюрократия</div>
									<div class="projectHeaderText"><i>Заполните эту анкету и подождите 28 дней.</i></div>
									<!-- <div class="projectHeaderText">Заплатите 2 чтобы избежать</div> -->
							</div>
						</div>
						<div class="projectBody clearfix row">
							<div class="col-xs-4 col-xs-offset-8">
								<img src="/img/coin.png" style="max-height:30px; margin-right:5px;">
								<span class="money-color-red ng-binding">-2</span>
							</div>
						</div>
					</div>
				</div>
		  	</div>
		  	<div class="projectCarousel"></div>
	</div>
</div>